.header #wrapper{
    width: auto;
    background-color: cadetblue;
    height: 5rem;
}

.header #span {
    font-family: 'Raleway', 'Thin 100';
    font-size: 20px;
    position: absolute;
    margin: 2.2rem 0 0 57rem;
}

